body {
  margin: 0;
  padding: 0;
}

header {
  background-color: rgb(160, 160, 160);
  padding: 50px;
  text-align: left;
  padding-left: 280px;
  border-style: solid;
  border-width: 2px;
}

section {
  width: 80%;
  float: center;
  padding: 100px;
  text-align: left;
  padding-right: 280px;
  border-style: solid;
  border-width: 2px;
}

#section1 {
  background-color: #000000;  
}

#section2 {
  background-color: #d6d6d6;
}

#section3 {
  background-color: #000000;
}

#section4 {
  background-color: #d6d6d6;
}

footer {
  clear: both;
  background-color:  rgb(160, 160, 160);
  padding: 10px;
  text-align: center;
  border-style: solid;
  border-width: 2px;
}
